@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Inter&display=swap");

#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
}

::-webkit-scrollbar {
  width: 2px;
}

/* TRACK */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.23);
}

/* HANDLE */
::-webkit-scrollbar-thumb {
  background: white;
  height: 10%;
}

.overlay {
  position: absolute;
  top: 0;
  backdrop-filter: blur(8px) brightness(90%);
  background: rgba(255, 255, 255, 0.3); /* Glass effect background */
  left: 0;
  bottom: 0;
  right: 0;
  transition: backdrop-filter 2s ease-in-out, background 2s ease-in-out;
}

.overlay--disable {
  pointer-events: none;
  background: none;
  backdrop-filter: none;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: white;
  transition: opacity 2s ease-in-out;
}

.loader--disappear {
  opacity: 0;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.logo {
  font-family: "DM Serif Display", serif;
  color: white;
  font-size: 8rem;
  letter-spacing: 0.5rem;
  padding: 0;
  margin: 0;
  transform: translateY(-50%);
  position: absolute;
  top: 25vh;
  animation: fadeUp 2.4s ease-in-out;
  transition: all 2s ease-in-out;

  text-align: center;
}

.subtitle {
  font-family: "Inter", sans-serif;
  color: #ffffff;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  display: block;
  margin-top: 1rem;

  animation: fadeUp 2.4s ease-in-out;
  transition: all 2s ease-in-out;
}

.intro--disappear .logo {
  top: 42px;
  transform: scale(0.25);
  transform-origin: center top;
}

.intro--disappear .logo .subtitle {
  opacity: 0;
  transform: scale(0);
}

.spinner {
  position: absolute;
  right: 0px;
  top: 0px;
  margin-right: -42px;
  margin-top: -42px;
  animation: fadeIn 2.4s ease-in-out 1.2s forwards;
  opacity: 0;
}

.circle-text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 164px; /* Adjust as needed */
  height: 175px;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.circle-text span {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px; /* Adjust as needed */
  color: white;
  transform-origin: center;
}

.spinner__image {
  position: relative;
  width: 164px;
  height: 164px;
  background-size: contain;
  animation: rotate 10s linear infinite;
}

/* Animation to rotate the spinner */
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

/* Position each letter in a circle */
.circle-text span {
  transform: rotate(calc(360deg / var(--num-letters))) translateY(-50%);
  transform-origin: center center;
}

/* Define custom properties based on the number of letters */
.circle-text {
  --num-letters: 12; /* Update with the actual number of characters in your text */
}

.circle-text span:nth-child(1) {
  transform: rotate(0deg) translateY(-50%);
}
.circle-text span:nth-child(2) {
  transform: rotate(calc(360deg / 12)) translateY(-50%);
}
.circle-text span:nth-child(3) {
  transform: rotate(calc(2 * 360deg / 12)) translateY(-50%);
}
.circle-text span:nth-child(4) {
  transform: rotate(calc(3 * 360deg / 12)) translateY(-50%);
}
.circle-text span:nth-child(5) {
  transform: rotate(calc(4 * 360deg / 12)) translateY(-50%);
}
.circle-text span:nth-child(6) {
  transform: rotate(calc(5 * 360deg / 12)) translateY(-50%);
}
.circle-text span:nth-child(7) {
  transform: rotate(calc(6 * 360deg / 12)) translateY(-50%);
}
.circle-text span:nth-child(8) {
  transform: rotate(calc(7 * 360deg / 12)) translateY(-50%);
}
.circle-text span:nth-child(9) {
  transform: rotate(calc(8 * 360deg / 12)) translateY(-50%);
}
.circle-text span:nth-child(10) {
  transform: rotate(calc(9 * 360deg / 12)) translateY(-50%);
}
.circle-text span:nth-child(11) {
  transform: rotate(calc(10 * 360deg / 12)) translateY(-50%);
}
.circle-text span:nth-child(12) {
  transform: rotate(calc(11 * 360deg / 12)) translateY(-50%);
}

.circle-text .special-letter {
  font-weight: bold; /* Optional: Make special letters bold */
}

.spinner__image {
  position: relative;
  width: 164px;
  height: 164px;
  background-size: contain;
  animation: rotate 10s linear infinite;
}

.intro--disappear .spinner {
  opacity: 1;
  animation: fadeOut 1s ease-in-out forwards;
}

.intro__scroll {
  opacity: 0;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  position: absolute;
  top: 13vh;
}

.intro--disappear .intro__scroll {
  animation: fadeIn 1s ease-in-out 1.5s forwards;
}

.overlay--scrolled .intro__scroll {
  animation: fadeOut 1s ease-in-out forwards;
}

.explore {
  padding: 1rem 2rem;
  border: none;
  font-family: "DM Serif Display", serif;
  font-size: 1.25rem;
  letter-spacing: 0.25rem;
  color: #0e3d59; /* Dark oceanic color */
  border-radius: 32px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
  display: inline-block;
  margin-top: 320px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: 0.42s ease-in-out;
  animation: fadeIn 2.4s ease-in-out 2s forwards;
  opacity: 0;
}

.explore:hover {
  color: white;
}

.explore:hover:before {
  width: 200%;
  height: 300%;
  border-radius: 100%;
}

.explore:before {
  content: "";
  background: linear-gradient(135deg, #0077b6, #00b4d8); /* Oceanic gradient */
  position: absolute;
  width: 0%;
  bottom: 0;
  left: 50%;
  height: 0%;
  transition: 0.42s ease-in-out;
  z-index: -1;
  transform: translateX(-50%) translateY(50%);
}

.intro--disappear .explore {
  animation: fadeOut 1s ease-in-out forwards;
}

/* Button styles, following the same rules as .explore */
.download-cv,
.contact-me {
  padding: 1rem 2rem;
  margin-top: 15px;
  margin-left: 10px;
  border: none;
  font-family: "DM Serif Display", serif;
  font-size: 1.25rem;
  letter-spacing: 0.25rem;
  color: #0e3d59; /* Oceanic color */
  border-radius: 32px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: 0.42s ease-in-out;
  animation: fadeIn 2.4s ease-in-out 2s forwards;
  opacity: 0;
  background: #ffffff;
}

.download-cv:hover,
.contact-me:hover {
  color: white;
}

.download-cv:before,
.contact-me:before {
  content: "";
  background: linear-gradient(135deg, #0077b6, #00b4d8); /* Oceanic gradient */
  position: absolute;
  width: 0%;
  bottom: 0;
  left: 50%;
  height: 0%;
  transition: 0.42s ease-in-out;
  z-index: -1;
  transform: translateX(-50%) translateY(50%);
}

.download-cv:hover:before,
.contact-me:hover:before {
  width: 200%;
  height: 300%;
  border-radius: 100%;
}

.intro--disappear .download-cv,
.intro--disappear .contact-me {
  animation: fadeOut 1s ease-in-out forwards;
}

/* RESPONSIVE */

@media screen and (max-width: 768px) {
  .logo {
    font-size: 3rem;
    letter-spacing: 0.25rem;
  }

  .intro--disappear .logo {
    top: 24px;
    transform: scale(0.5);
    transform-origin: center top;
  }

  .spinner__image {
    width: 82px;
    height: 82px;
  }

  .outro__text {
    font-size: 1rem;
  }
}

/* ANIMATIONS */

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
    filter: blur(9px);
  }

  100% {
    opacity: 1;
    filter: none;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
